<% content_for :bar do %>
<li class="active">
	<a href="/">首页</a>
</li>
	<li class="active">
			<%= link_to '家庭 | 个人', cases_path %>
			<span class="notch">
				<span class="inner">&nbsp;</span>
			</span>
	</li>
	<li class="active">
		<%= link_to '商务 | 工作', cases_path %>
	</li>
<li class="active">
	<%= link_to '帮助', '/admin' %>
</li>
<% end %>

<% content_for :bar do %>
<% end %>