<div class="footer">
	<ul>
		<li class="first">
			<%= link_to Settings.app_name, '/about' %>&nbsp;&nbsp;|&nbsp;&nbsp; 
			<%= link_to '版本历史', '/' %>&nbsp;&nbsp;|&nbsp;&nbsp; 
			<%= link_to 'BUG反馈', '/' %>
		</li>
	</ul>
	<ul class="legal">
		<li><%=raw Settings.copyright_name %></li>
	</ul>
</div>