

<div id="wrapper_slideshow">
     
     <div id="slideshow-nav_wrapper">
     <div id="slideshow-nav">
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
     </div>
     </div>
     
     <div class="slideshow_wrap">
     	<ul id="slideshow" style="position:absolute;">

     	 	<li class="slide-1">
     	 		<a href="#"></a>
     	 		<div id="feature_overlay_full"><img src="/images/feature_boy_overlay.png" alt="" /></div>
     	 		<div id="feature_image_full"><img src="/images/feature_boy.jpg" alt="" /></div>

     	 	</li>

     	 	<li class="slide-2">
     	 		<a href="#"></a>
     	 		<div id="feature_image_full"><img src="/images/feature_monsters.jpg" alt="" /></div>

     	 	</li>

     	 	<li class="slide-3">
     	 		<a href="#" style="border:none; outline:none;"></a>

     	 		<div id="feature_image_full"><img src="/images/feature_animaljam.jpg" alt="" /></div>

     	 	</li>

     	 	<li class="slide-4">
     	 		<a href="#"></a>

     	 		<div id="feature_overlay_full"><img src="/images/feature_ss_overlay.png" alt="" /></div>

     	 		<div id="feature_image_full"><img src="/images/feature_ss2.jpg" alt="" /></div>
     	 	</li>

     	 	<li class="slide-5">
     	 		<a href="#" style="border:none; outline:none;"></a>
     	 		<div id="feature_overlay_full"><img src="/images/feature_bieber_overlay.png" alt="" /></div>
     	 		<div id="feature_image_full"><img src="/images/feature_bieber.jpg" alt="" /></div>

     	 	</li>

     	 	<li class="slide-6">
     	 		<a href="#" style="border:none; outline:none;"></a>
     	 		<div id="feature_overlay_full"><img src="/images/feature_girl_overlay.png" alt="" /></div>
     	 		<div id="feature_image_full"><img src="/images/feature_girl.jpg" alt="" /></div>

     	 	</li>

      	</ul>
      </div>
      
</div>